##
## Prometheus main configuration ({{ prometheus_base_directory }}/prometheus.yml)
##
## Warning! This file is beeing auto-managed
## Any manual changes can and will be overwritten!
##   

global:
  scrape_interval:     10s # By default, scrape targets every 15 seconds.
  evaluation_interval: 10s # Evaluate rules every 15 seconds. The default is every 1 minute.

scrape_configs:
  # Self-scrape for metrics
  - job_name: 'prometheus'
    static_configs:
      - targets: ['192.168.100.14:9090']

  # Kafka status metrics (TO-DO: update this to correct IP):
  - job_name: 'kafka'
    static_configs:
      - targets: ['192.168.100.10:7071']
  
  # statsd metrics target (both from producer and consumer):
  - job_name: 'statsd'
    static_configs:
      - targets: ['192.168.100.12:9102']
