{%- set base_dir  = kafka_base_directory -%}
{%- set log_dir   = kafka_log_directory -%}
{%- set conf_dir  = kafka_config_directory -%}
{%- set bin_dir   = kafka_binary_directory -%}
{%- set lib_dir   = kafka_libs_directory -%}
{%- set jmx_vers  = "jmx_prometheus_javaagent-" + kafka_jmx_version + ".jar" -%}
{%- set jmx_port  = kafka_jmx_port -%}
##
## Kafka service (/etc/systemd/system/kafka.service)
##
## Warning! This file is beeing auto-managed
## Any manual changes can and will be overwritten!
##

[Unit]
Requires=zookeeper.service
After=zookeeper.service

[Service]
Type=simple
User=kafka
{% if kafka_jmx_disabled == True -%}
ExecStart=/bin/sh -c '{{ bin_dir }}/kafka-server-start.sh \
                      {{ conf_dir }}/server.properties > \
                      {{ log_dir }}/kafka.log 2>&1'
{% else -%}
ExecStart=/bin/sh -c 'KAFKA_OPTS="$KAFKA_OPTS \
                      -javaagent:{{ lib_dir }}/{{ jmx_vers }}={{ jmx_port }}:{{ conf_dir }}/jmx_config.yml" \
                      {{ bin_dir }}/kafka-server-start.sh \
                      {{ conf_dir }}/server.properties > \
                      {{ log_dir }}/kafka.log 2>&1'
{% endif -%}

ExecStop={{ base_dir }}/bin/kafka-server-stop.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
